<h1>Cadastro de Cliente</h1>

<dx-data-grid
  [dataSource]="clientes"

  (onRowInserted)="adicionarCliente($event.data)"
  (onRowUpdated)="atualizarCliente($event.data)"
  (onRowUpdating)="atualizandoCliente($event.value)"
  (onRowRemoved)="excluirCliente($event.data)"
  (onSaving)="atualizandoCliente($event.value)"
  (onSaved)="atualizandoCliente($event.value)"
  >
  <dxo-editing
    mode="popup"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true">

  </dxo-editing>

  <dxi-column dataField="codigo" width="200px"></dxi-column>
  <dxi-column dataField="nome" ></dxi-column>

</dx-data-grid>

