<h1>Clientes</h1>
<br>
<h2>Cadastro de Cliente</h2>
<!--
<dx-text-box placeholder="Codigo"></dx-text-box>
<br>
<dx-text-box placeholder="Nome"></dx-text-box>
<br>
<dx-button text="Enviar" width="100%"></dx-button>
<br>
<br>
<br>
<br>
<br>
-->
<dx-data-grid
  [dataSource]="clientes">
  <dxo-editing
    mode="popup"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true">
  </dxo-editing>
</dx-data-grid>
<!--
<dx-button text="Deletar" width="50%"></dx-button>
<dx-button text="Modificar" width="50%"></dx-button>
-->

