<h1>Cadastro de Produtos</h1>

<dx-data-grid
  [dataSource]="produtos"

  (onRowInserted)="adicionarProduto($event.data)"
  (onRowUpdated)="atualizarProduto($event.data)"
  (onRowRemoved)="excluirProduto($event.data)">
  <dxo-editing
    mode="popup"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true">
  </dxo-editing>

  <dxi-column dataField="codigo"></dxi-column>
  <dxi-column dataField="descricao"></dxi-column>
  <dxi-column dataField="valor"></dxi-column>


</dx-data-grid>
