<p>produto</p>
<br>
<h1>Cadastro de Produtos</h1>
<!--
<dx-text-box placeholder="Codigo"></dx-text-box>
<br>
<dx-text-box placeholder="Descricao"></dx-text-box>
<br>
<dx-text-box placeholder="Valor"></dx-text-box>
<br>
<dx-button text="Enviar" width="100%"></dx-button>
<br>
<br>
<br>
<br>
<br>
-->
<dx-data-grid
  [dataSource]="produtos">
  <dxo-editing
    mode="popup"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true">
  </dxo-editing>
</dx-data-grid>
<!--
<dx-button text="Modificar" width="50%"></dx-button>
<dx-button text="Deletar" width="50%"></dx-button>
-->
