<h1>Cadastro de Notas Fiscais</h1>

<dx-data-grid
  [dataSource]="notas"

  (onRowInserted)="adicionarNota($event.data)"

  (onRowUpdated)="atualizarNota($event.data)"
  (onEditingStart)="atualizandoCliente($event)"
  (onRowRemoved)="excluirNota($event.data)"
  >
  <dxo-editing
    mode="popup"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true">

    <dxo-form colCount="2">
      <dxi-item dataField="numero"></dxi-item>
      <dxi-item dataField="data"></dxi-item>
      <dxi-item dataField="valor"></dxi-item>
      <dxi-item dataField="cliente"></dxi-item>
      <dxi-item dataField="itens" [colSpan]="2"></dxi-item>///////
    </dxo-form>

  </dxo-editing>


  <dxi-column dataField="numero"></dxi-column>
  <dxi-column dataField="data"></dxi-column>
  <dxi-column dataField="valor"></dxi-column>
  <dxi-column dataField="cliente" cellTemplate="cellTemplateCliente" editCellTemplate="editCellTemplateCliente"></dxi-column>
  <div *dxTemplate="let data of 'cellTemplateCliente'">{{data.value ? data.value.nome : "vazio"}}</div>////
  <div *dxTemplate="let data of 'editCellTemplateCliente'">
    <dx-select-box [items]="clientes"
                   displayExpr="nome"
                   [(value)]="data.value"
                   (onValueChanged)="onValueChangedCliente(data.value)">

    </dx-select-box>
  </div>

  <dxi-column dataField="itens" [visible]="false"  editCellTemplate="editCellTemplateItens"></dxi-column>/////
  <div *dxTemplate="let data of 'editCellTemplateItens'">
    <dx-data-grid [(dataSource)]="data.value"
                  (onEditingStart)="atualizandoProduto($event)"
                  (onRowUpdated)="adicionarItem($event.data)"
                  (onSaving)="NotaSaving($event)"
                  (onSaved)="NotaSaved(data)">
      <dxo-editing
        mode="row"
        [allowUpdating]="true"
        [allowDeleting]="true"
        [allowAdding]="true">
      </dxo-editing>

      <dxi-column dataField="numero"></dxi-column>
      <dxi-column dataField="produto" cellTemplate="cellTemplateProduto" editCellTemplate="editCellTemplateProduto"></dxi-column>////
      <div *dxTemplate="let data of 'cellTemplateProduto'">{{data.value.descricao}}</div>
      <div *dxTemplate="let data of 'editCellTemplateProduto'">
        <dx-select-box [items]="produtos"
                       displayExpr="descricao"
                       [(value)]="data.value"
                       (onValueChanged)="onValueChangedProduto(data.value)">

        </dx-select-box>
      </div>
      <dxi-column dataField="quantidade"></dxi-column>
      <dxi-column dataField="valor"></dxi-column>

    </dx-data-grid>
  </div>


</dx-data-grid>

<!--oneditorprepared()setvalue-->
<!--setar: id,nota,-->
<!--onChanging()-->
<!--(onSaving)="salvarItem($event, data)"-->
