<h1>Cadastro de Notas Fiscais</h1>

<dx-data-grid
  [dataSource]="notas"

  (onRowInserted)="adicionarNota($event.data)"
  (onRowUpdated)="atualizarNota($event.data)"
  (onRowRemoved)="excluirNota($event.data)"
  (onEditingStart)="atualizandoCliente($event)"
  (onInitNewRow)="onInitNewRowNota($event)"


>
  <dxo-editing
    mode="popup"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true">

    <dxo-form colCount="2">
      <dxi-item dataField="numero"></dxi-item>
      <dxi-item dataField="data"></dxi-item>
      <dxi-item dataField="valor"></dxi-item>
      <dxi-item dataField="cliente"></dxi-item>
      <dxi-item dataField="itens" [colSpan]="2"></dxi-item>
    </dxo-form>

  </dxo-editing>


  <dxi-column dataField="numero"></dxi-column>
  <dxi-column dataField="data" dataType="date"></dxi-column>
  <dxi-column dataField="cliente" cellTemplate="cellTemplateCliente" editCellTemplate="editCellTemplateCliente"></dxi-column>
  <dxi-column [allowEditing]="false" dataField="valor" caption="Valor da Nota" editCellTemplate="editCellTemplateValor"></dxi-column>/////////
  <dxi-column dataField="itens" [visible]="false"  editCellTemplate="editCellTemplateItens"></dxi-column>

  <div *dxTemplate="let data of 'editCellTemplateValor'">{{calcularValorTotal(data.data.itens)}}</div>

  <div *dxTemplate="let data of 'cellTemplateCliente'">{{data.value ? data.value.nome : "vazio"}}</div>
  <div *dxTemplate="let data of 'editCellTemplateCliente'">
    <dx-select-box [items]="clientes"
                   displayExpr="nome"
                   [value]="data.value"
                   (valueChange)="valueChangeCliente($event,data)">

    </dx-select-box>
  </div>

  <div *dxTemplate="let data of 'editCellTemplateItens'">
    <dx-data-grid [(dataSource)]="data.value"
                  (onEditingStart)="atualizandoProduto($event)"
                  (dataSourceChange)="dataSourceChangeItens($event,data)"
                  (onRowRemoved)="onRowRemoved($event.data,data)"
                  (onFocusedCellChanged)="onFocusedRowChanged($event)"
                  (onSaved)="onSaved($event,data)">

      <dxo-editing
        mode="row"
        [allowUpdating]="true"
        [allowDeleting]="true"
        [allowAdding]="true">
      </dxo-editing>

      <dxi-column dataField="numero"></dxi-column>
      <dxi-column dataField="produto" cellTemplate="cellTemplateProduto" editCellTemplate="editCellTemplateProduto"></dxi-column>
      <div *dxTemplate="let data of 'cellTemplateProduto'">{{data.value ? data.value.descricao : "vazio"}}</div>
      <div *dxTemplate="let data of 'editCellTemplateProduto'">
        <dx-select-box [items]="produtos"
                       displayExpr="descricao"
                       [value]="data.value"
                       (valueChange)="valueChangeProduto($event,data)">

        </dx-select-box>
      </div>
      <dxi-column dataField="quantidade"></dxi-column>
      <dxi-column dataField="valor" caption="Valor Unitario"></dxi-column>
      <dxi-column dataField="data.value" caption="Valor Total" [allowEditing]="false" cellTemplate="cellTemplateValorTotal"></dxi-column>
      <div *dxTemplate="let data of 'cellTemplateValorTotal'">{{data.data.valor * data.data.quantidade}}</div>


    </dx-data-grid>
  </div>


</dx-data-grid>

<!--oneditorprepared()setvalue-->
<!--setar: id,nota,-->
<!--onChanging()-->
<!--(onSaving)="salvarItem($event, data)"-->
